.inline-block {
}
.message-left {
  min-width: 25%;
  text-align: right;
  display: inline-block;
  box-sizing: border-box;
}
.message-right {
  display: inline;
  box-sizing: border-box;
  padding-left: 0.5em;
  margin-left: 0.5em;
  border-left: 1px solid #fff;
}

.output pre {
  overflow-x: auto;
  margin: 4px;
}
.output pre span {
  white-space: pre;
  overflow-x: auto;
}
.underline { text-decoration: underline; }
.bold { font-weight: bold; }

.event + .event {
  border-top: 1px solid #ccc;
}

body {
  padding-top: 40px;
}

.navbar-fixed-top .navbar-inner {
  padding: 0 1em;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  .event {
    padding: 0;
  }
  
  .name, .message {
    padding: 1em;
  }
  .output {
    padding: 0;
    height: 100%;
  }
  .output pre {
    padding: 1em;
    border-radius: 0;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .event {
    padding: 1em;
  }
}